.square {
	height: 6em;
	width: 6em;
	margin: .3em;
}

.fullHeight {
	height: 100vh;
}

.centeringSquares {
	width: 26.4em;
	margin-bottom: 0;
}

.noMargin {
	margin: 0px;
}

.noPadding {
	padding: 0px;
}
